.app {
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header,
  .footer {
    margin: 48px 0 24px 0;
    text-align: center;

    p.source {
      a {
        color: #61dafb;
      }
    }
  }

  .button {
    border-radius: 100px;
    border: none;
    background-color: #61dafb;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    margin: auto;
    padding: 8px 24px;
    white-space: nowrap;
  }
}

div.error {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  height: 100vh;
  justify-content: center;
}
