.jokes {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .joke {
  border: 1px solid #fff;
    padding: 14px;
  border-radius: 8px;
    color: #fff;
    .setup {
      font-weight: bold;
    }
    .punchline {
      margin-top: 12px;
    }
  }
}
